<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luangeng.bootweb.dao.OptionVoMapper">

    <resultMap id="BaseResultMap" type="com.luangeng.bootweb.modal.vo.OptionVo">
        <id column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        name, value, description
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_options
    </select>

    <insert id="insert" parameterType="com.luangeng.bootweb.modal.vo.OptionVo">
        insert into t_options (name, value, description
        )
        values (#{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_options
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <update id="update" parameterType="com.luangeng.bootweb.modal.vo.OptionVo">
        update t_options
        set value = #{value,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR}
        where name = #{name,jdbcType=VARCHAR}
    </update>

</mapper>