<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luangeng.bootweb.dao.UserVoMapper">

  <resultMap id="BaseResultMap" type="com.luangeng.bootweb.modal.vo.UserVo">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="home_url" jdbcType="VARCHAR" property="homeUrl" />
    <result column="screen_name" jdbcType="VARCHAR" property="screenName" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="activated" jdbcType="INTEGER" property="activated" />
    <result column="logged" jdbcType="INTEGER" property="logged" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
  </resultMap>

  <sql id="Base_Column_List">
    uid, username, password, email, home_url, screen_name, created, activated, logged, group_name
  </sql>

  <select id="select" parameterType="com.luangeng.bootweb.modal.vo.UserVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_users
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_users
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <select id="selectByNamePwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_users
    where username = #{param1} and password = #{param2}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_users
    where uid = #{uid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.luangeng.bootweb.modal.vo.UserVo" useGeneratedKeys="true" keyProperty="uid">
    insert into t_users (uid, username, password, 
      email, home_url, screen_name, 
      created, activated, logged, 
      group_name)
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{homeUrl,jdbcType=VARCHAR}, #{screenName,jdbcType=VARCHAR}, 
      #{created,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, #{logged,jdbcType=INTEGER}, 
      #{groupName,jdbcType=VARCHAR})
  </insert>

  <select id="countByName" parameterType="com.luangeng.bootweb.modal.vo.UserVo" resultType="java.lang.Long">
    select count(*) from t_users
    where username = #{username}
  </select>

  <update id="update" parameterType="com.luangeng.bootweb.modal.vo.UserVo">
    update t_users
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeUrl != null">
        home_url = #{homeUrl,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        screen_name = #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="logged != null">
        logged = #{logged,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>

</mapper>